@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-cascadia;
    @apply h-full;
  }

  body {
    @apply h-full;
  }

  #root {
    @apply h-full;
  }

  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
  }
}
